* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background: url("/assets/img/fundogarden.jpg") center center;
    background-size: cover;
    height: 92vh;
}

.body-eventos {
    background: url("/assets/img/fundoeventos.png") center center;
    background-size: cover;
    height: 92vh;
}
